body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0e6; /* Fondo blanco */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    height: 100vh; /* Toma la altura completa del viewport */
    overflow: hidden; /* Oculta el contenido que desborda del contenedor */
    overflow-y: auto;
}


/* Sidebar */

.sidebar {
    border-radius: 25px;
    width: 220px; /* Ajusta el ancho según sea necesario */
    height: 60vh;
    background-color: rgb(55, 81, 212); /* Color de fondo del sidebar */
    color: #fff; /* Color del texto */
    padding: 20px;
    margin: -200px 0 0 100px; /* Agrega margen a la derecha */
    position: fixed; /* Fija el sidebar */
    overflow-y: auto; /* Habilita el desplazamiento vertical para el sidebar */
    flex-shrink: 0;
}


.sidebar img {
    width: 50%;
    border-radius: 50%; /* Hace la imagen circular si es una foto de perfil */
    margin-bottom: 20px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 40px 0 0 0; /* Ajusta el margen superior según sea necesario */
}

.sidebar nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: block;
    padding: 10px 0;
    text-align: left;
    transition: transform 0.3s ease; /* Agrega una transición de transformación de 0.3 segundos */
}

.sidebar nav a:hover {
    transform: translateX(10px); /* Desplaza el enlace 10px hacia la derecha al pasar el cursor */
}

.sidebar .footer-text {
    /*position: absolute;
    bottom: 10px; /* Ajusta según sea necesario para la posición vertical */
    font-size: 12px; /* Tamaño de letra más pequeño */
    color: #ffffff; /* Color de texto gris, ajusta según sea necesario */
    text-align: center;
    padding-top: 15%;
}

/* About Me */

.content {
    border-radius: 25px;
    width: 800px; /* Ajusta el ancho según sea necesario */
    /*max-width: 800px; /* Establece un ancho máximo si es deseado */
    height: auto;
    /*position:fixed; /* Fija el sidebar */
    /*block-size: auto; /*Se bloquea el div para que no se mueva al hacer pequeña la ventana*/
    /*overflow-y: auto; /* Habilita el desplazamiento vertical para el sidebar */
    padding: 20px;
    margin: 900px 0 0 400px; /* Agrega margen a la izquierda para acomodar el sidebar fijo */
    background-color: #fff; /* Fondo blanco */
}

.separator-line {
    border: 2px solid rgb(227, 79, 79); /* Un borde para la línea */
    margin: 1px 0; /* Ajusta el margen según sea necesario */
    width: 35px;
}

.content h1 {
    font-size: 1.5em;
    text-align: left; /* Centra el texto del encabezado */
}

.content p {
    font-size: 1.1em;
    color: #555; /* Ajusta el color del texto según sea necesario */
    text-align: left; /* Centra el texto del párrafo */
}

.content .info-columns {
    display: flex;
}

.content .info-group {
    flex: 1;
}

.content .info-item {
    margin-bottom: 8px; /* Ajusta el margen según sea necesario */
    display: flex;
    align-items: center;
}

.content .info-item span {
    font-weight: bold;
    margin-right: 8px; /* Ajusta el margen según sea necesario */
}

.content .rounded-button {
    display: inline-block;
    width: 150px; /* Establece un ancho exacto para el botón */
    padding: 10px;
    border-radius: 25px;
    background-color: rgb(227, 79, 79);
    color: #fff;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border: #fff;
}

.content .rounded-button:hover {
    background-color: rgb(55, 81, 212); /* Color verde más oscuro al pasar el cursor, puedes cambiar esto */
}

/* Experience */

/* Experience */
.experience-div {
    border-radius: 25px;
    width: 800px;
    height: auto;
    padding: 20px;
    margin: 50px 0 0 400px;
    background-color: #fff; 
}

.experience-div h1 {
    font-size: 1.5em;
    text-align: left; /* Centra el texto del encabezado */
}

.experience-div p {
    font-size: 1.1em;
    color: #555; /* Ajusta el color del texto según sea necesario */
    text-align: left; /* Centra el texto del párrafo */
}

.timeline {
    position: relative;
    margin: 40px 0;
    padding-left: 40px;
  }

  .timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 20px;
    width: 2px;
    height: 100%;
    background-color: #ccc;;
  }

  .timeline-item {
    position: relative;
    margin-bottom: 40px;
  }

  .timeline-item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -27px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #5797a4;
    transform: translateY(-50%);
  }

  .timeline-item .date {
    margin-bottom: 8px;
    font-weight: bold;
  }

  .timeline-item .title {
    font-weight: bold;
  }

  .timeline-item .description {
    margin-top: 8px;
  }


  /* Proyectos */
  .projects {
    border-radius: 25px;
    width: 800px;
    height: auto;
    padding: 20px;
    margin: 20px 0 0 400px;
    background-color: #fff;
}

.projects h1 {
    font-size: 1.5em;
    text-align: left;
}

.projects p {
    font-size: 1.1em;
    color: #555;
    text-align: left;
}


.project-item {
    margin-bottom: 20px;
}

.project-item h2 {
    font-size: 1.2em;
}

.project-item img {
    width: 50%; /* Tamaño de la imagen, ajusta según sea necesario */
    border-radius: 10px; /* Bordes redondeados para un aspecto más suave */
    margin-top: 10px; /* Margen superior, ajusta según sea necesario */
    display: block; /* Para centrar la imagen */
    margin-left: auto; /* Para centrar la imagen */
    margin-right: auto; /* Para centrar la imagen */
}

.project-item p {
    font-size: 1.1em;
    color: #555;
    text-align: left;
}

  
  @media (max-width: 1160px) {
    .container {
        flex-direction: column; /* Cambia la dirección del contenedor a columna en pantallas pequeñas */
    }

    .sidebar {
        /*order: -1; /* Mueve el sidebar a la parte superior */
        width: 100%; /* Ancho completo en pantallas pequeñas */
        height: auto;  /* Altura automática en pantallas pequeñas */
        margin: 600px 0; /* Elimina el margen en pantallas pequeñas */
        position: sticky; /* Hace que el sidebar se "pegue" a la parte superior de la pantalla */
        top: 0; /* Alinea el sidebar en la parte superior */
        border-radius: 0; /* Elimina el borde redondeado para apariencia de ancho completo */
        z-index: 1;
    }

    .sidebar img {
        display: none; /* Oculta la imagen en pantallas pequeñas */
    }

    .sidebar nav ul {
        display: flex; /* Muestra los elementos en línea (horizontal) */
        flex-direction: row; /* Alinea los elementos en una fila */
        justify-content: space-around; /* Distribuye el espacio alrededor de los elementos */
        margin: 20px 0 0 0; /* Ajusta el margen según sea necesario */
    }

    .sidebar nav a {
        padding: 10px; /* Ajusta el relleno de los enlaces */
    }

    .sidebar .footer-text {
        display: none;
    }

    .content {
        width: auto; /* Ancho completo en anchos de ventana muy pequeños */
        margin: 20px 0; /* Agrega margen solo arriba y abajo */
        flex: 1;
        position:relative;
    }

    .content .info-columns {
        display: list-item;
    }

    .experience-div {
        width: auto;
        margin: 0 0;
        flex: 1;
        position:relative;
    }

    .projects {
        width: auto;
        margin: 0 0;
        flex: 1;
        position: relative;
    }
}

