body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0e6; /* Fondo blanco */
}

.container {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    height: 100vh; /* Toma la altura completa del viewport */
    overflow: hidden; /* Oculta el contenido que desborda del contenedor */
    overflow-y: auto;
}

/* Sidebar */

.sidebar {
    border-radius: 25px;
    width: 220px; /* Ajusta el ancho según sea necesario */
    height: 60vh;
    background-color: rgb(55, 81, 212); /* Color de fondo del sidebar */
    color: #fff; /* Color del texto */
    padding: 20px;
    margin: 100px 900px 0 0; /* Agrega margen a la derecha */
    position: fixed; /* Fija el sidebar */
    overflow-y: auto; /* Habilita el desplazamiento vertical para el sidebar */
}


.sidebar img {
    width: 50%;
    border-radius: 50%; /* Hace la imagen circular si es una foto de perfil */
    margin-bottom: 20px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 40px 0 0 0; /* Ajusta el margen superior según sea necesario */
}

.sidebar nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: block;
    padding: 10px 0;
    text-align: left;
    transition: transform 0.3s ease; /* Agrega una transición de transformación de 0.3 segundos */
}

.sidebar nav a:hover {
    transform: translateX(10px); /* Desplaza el enlace 10px hacia la derecha al pasar el cursor */
}

.sidebar .footer-text {
    /*position: absolute;
    bottom: 10px; /* Ajusta según sea necesario para la posición vertical */
    font-size: 12px; /* Tamaño de letra más pequeño */
    color: #ffffff; /* Color de texto gris, ajusta según sea necesario */
    text-align: center;
    padding-top: 15%;
}

/* About Me */

.content {
    border-radius: 25px;
    width: 800px; /* Ajusta el ancho según sea necesario */
    /*max-width: 800px; /* Establece un ancho máximo si es deseado */
    height: 25vh;
    /*position:fixed; /* Fija el sidebar */
    block-size: auto; /*Se bloquea el div para que no se mueva al hacer pequeña la ventana*/
    /*overflow-y: auto; /* Habilita el desplazamiento vertical para el sidebar */
    padding: 20px;
    margin: 100px 0 0 260px; /* Agrega margen a la izquierda para acomodar el sidebar fijo */
    background-color: #fff; /* Fondo blanco */
    position: fixed;
}

.separator-line {
    border: 2px solid rgb(227, 79, 79); /* Un borde para la línea */
    margin: 1px 0; /* Ajusta el margen según sea necesario */
    width: 35px;
}

.content h1 {
    font-size: 1.5em;
    text-align: left; /* Centra el texto del encabezado */
}

.content p {
    font-size: 1.1em;
    color: #555; /* Ajusta el color del texto según sea necesario */
    text-align: left; /* Centra el texto del párrafo */
}

.content .info-columns {
    display: flex;
}

.content .info-group {
    flex: 1;
}

.content .info-item {
    margin-bottom: 8px; /* Ajusta el margen según sea necesario */
    display: flex;
    align-items: center;
}

.content .info-item span {
    font-weight: bold;
    margin-right: 8px; /* Ajusta el margen según sea necesario */
}

.content .rounded-button {
    display: inline-block;
    width: 150px; /* Establece un ancho exacto para el botón */
    padding: 10px;
    border-radius: 25px;
    background-color: rgb(227, 79, 79);
    color: #fff;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border: #fff;
}

.content .rounded-button:hover {
    background-color: rgb(55, 81, 212); /* Color verde más oscuro al pasar el cursor, puedes cambiar esto */
}


/* Experience */
.experience-div {
    border-radius: 25px;
    width: 800px; /* Ajusta el ancho según sea necesario */
    height: 25vh;
    padding: 20px;
    background-color: #fff; /* Fondo blanco */
    margin: 400px 0 0 260px;
}

.experience-div h1 {
    font-size: 1.5em;
    text-align: left;
}

.experience-div p {
    font-size: 1.1em;
    color: #555;
    text-align: left;
}

.experience-div .info-columns {
    display: flex;
}

.experience-div .info-group {
    flex: 1;
}

.experience-div .info-item {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.experience-div .info-item span {
    font-weight: bold;
    margin-right: 8px;
}

.experience-div .rounded-button {
    display: inline-block;
    width: 150px;
    padding: 10px;
    border-radius: 25px;
    background-color: rgb(227, 79, 79);
    color: #fff;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border: #fff;
}

.experience-div .rounded-button:hover {
    background-color: rgb(55, 81, 212);
}


/* Añade una consulta de medios para anchos de ventana pequeños */
@media (max-width: 1160px) {
    .container {
        flex-direction: column; /* Cambia la dirección del contenedor a columna en pantallas pequeñas */
    }

    .sidebar {
        width: 100%; /* Ancho completo en pantallas pequeñas */
        height: auto; /* Altura automática en pantallas pequeñas */
        margin: 0; /* Elimina el margen en pantallas pequeñas */
        position: static; /* Elimina la posición fija en pantallas pequeñas */
    }

    .sidebar img {
        display: none; /* Oculta la imagen en pantallas pequeñas */
    }

    .sidebar nav ul {
        display: flex; /* Muestra los elementos en línea (horizontal) */
        flex-direction: row; /* Alinea los elementos en una fila */
        justify-content: space-around; /* Distribuye el espacio alrededor de los elementos */
        margin: 20px 0 0 0; /* Ajusta el margen según sea necesario */
    }

    .sidebar nav a {
        padding: 10px; /* Ajusta el relleno de los enlaces */
    }

    .sidebar .footer-text {
        display: none;
    }

    .content {
        width: 100%; /* Ancho completo en anchos de ventana muy pequeños */
        max-width: 100%; /* Establece el ancho máximo al 100% del ancho de la ventana */
        margin: 20px 0; /* Agrega margen solo arriba y abajo */
        flex: 1;
        position:relative;
    }

    .content .info-columns {
        display: list-item;
    }

    .experience-div {
        width: 100%; /* Ancho completo en anchos de ventana muy pequeños */
        max-width: 100%; /* Establece el ancho máximo al 100% del ancho de la ventana */
        margin: 40px 0; /* Agrega margen solo arriba y abajo */
        flex: 1;
    }

    .experience-div .info-columns {
        display: list-item;
    }
}